$headerFontFamily: 'Josefin Sans',
sans-serif;
$mainFontFamily: 'Roboto',
sans-serif;
$titleColor: #fff;
$infoBoxBg:rgba(0,0,0,0.55);
$infoBoxTextColor: #fff;

$errorBoxBg: #860909;
$errorBoxColor: #fff;